- name: Install pacman packages
  become: true
  community.general.pacman:
    update_cache: false
    name:
      - bluez-utils # bluetoothctl
      - gwenview  # image viewer
      - kdialog # GUI popups in shell scripts
      - power-profiles-daemon
      - wl-clipboard # Wayland clipboard management
    state: present
  register: pacman_output
  changed_when:
    - pacman_output.packages is defined
    - pacman_output.packages | length > 0

- name: Installed pacman packages
  debug: msg="{{ pacman_output.packages }}"
  when:
    - pacman_output.packages is defined
    - pacman_output.packages | length > 0

- name: Enable power-profiles-daemon
  become: true
  ansible.builtin.systemd_service:
    name: power-profiles-daemon
    enabled: true
    state: started

- name: Ensure ~/.scripts directory exists
  ansible.builtin.file:
    path: "{{ user_scripts_dir }}"
    state: directory
    mode: '0755'

- name: Symlink KDE user scripts
  ansible.builtin.file:
    src: "{{ role_path }}/files/{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
  loop:
    - { src: "toggle_headset_speaker.sh",   dest: "{{ user_scripts_dir }}/toggle_headset_speaker.sh" }