- name: Install pacman packages
  become: true
  community.general.pacman:
    update_cache: false
    name:
      - bluez-utils # bluetoothctl
      - gwenview  # image viewer
      - power-profiles-daemon
      - wl-clipboard # Wayland clipboard management
    state: present
  register: pacman_output
  changed_when:
    - pacman_output.packages is defined
    - pacman_output.packages | length > 0

- name: Installed pacman packages
  debug: msg="{{ pacman_output.packages }}"
  when:
    - pacman_output.packages is defined
    - pacman_output.packages | length > 0

- name: Enable power-profiles-daemon
  become: true
  ansible.builtin.systemd_service:
    name: power-profiles-daemon
    enabled: true
    state: started
