- name: Install pacman packages
  become: true
  community.general.pacman:
    update_cache: false
    name:
      - brightnessctl
      - swww
    state: present
  register: pacman_output

- name: Installed pacman packages
  debug: msg="{{ pacman_output.packages }}"
  when:
    - pacman_output.packages is defined
    - pacman_output.packages | length > 0

- name: Install AUR packages
  kewlfft.aur.aur:
    use: "{{ aur_helper }}"
    update_cache: false
    name:
      - ags-hyprpanel-git
    state: present

- name: Ensure hyprland config directory exists
  ansible.builtin.file:
    path: "{{ hyprland_config_dir }}"
    state: directory
    mode: '0755'

- name: Symlink hyprland config
  ansible.builtin.file:
    src: "{{ role_path }}/files/{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
    force: true
  loop:
    - { src: "hyprland.conf", dest: "{{ hyprland_config_dir }}/hyprland.conf" }
