- name: Install KeePassXC
  become: true
  community.general.pacman:
    update_cache: false
    name:
      - keepassxc
    state: present
  register: pacman_output
  changed_when:
    - pacman_output.packages is defined
    - pacman_output.packages | length > 0

- name: Install KeePassXC browser extension
  kewlfft.aur.aur:
    use: "{{ aur_helper }}"
    update_cache: false
    name:
      - firefox-extension-keepassxc-browser # Keepass Firefox integration
    state: present

- name: Ensure KeePass config directory exists
  ansible.builtin.file:
    path: "{{ keepass_config_dir }}"
    state: directory
    mode: '0755'

- name: Symlink KeePass config
  ansible.builtin.file:
    src: "{{ role_path }}/files/{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
    force: true
  loop:
    - { src: "keepassxc.ini", dest: "{{ keepass_config_dir }}/keepassxc.ini" }
