- name: Install packages
  become: true
  community.general.apk:
    update_cache: true
    name:
      - acl # getfacl, setfacl
      - bat
      - btop
      - dysk # `df` but better
      - fastfetch
      - fzf # fuzzy-finder
      - git
      - jq # command line JSON processor
      - lazygit
      - mandoc
      - man-pages
      - ncdu # ncurses `du` frontend
      - nfs-utils
      - powertop # power monitoring
      - rsync
      - speedtest-cli
      - starship # prompt theming
      - tmux
      - tree
      - font-meslo-nerd # font for Starship prompt
      - unzip
      - util-linux # findmnt, lsblk, mountpoint, etc
      - vim
      - zsh
    state: present