- name: Install yt-dlp
  become: true
  community.general.pacman:
    update_cache: false
    name:
      - yt-dlp
    state: present
  register: pacman_output
  changed_when:
    - pacman_output.packages is defined
    - pacman_output.packages | length > 0