!! Colours
! xterm256-style
*background:	#000000
*foreground:	#ccffffff
*alert:				#bd2c40

! Black
*color0:	#000000
! Maroon
*color1:	#800000
! Green
*color2:	#008000
! Olive
*color3:	#808000
! Navy
*color4:	#000080
! Purple
*color5:	#800080
! Teal
*color6:	#008080
! Silver
*color7:	#c0c0c0
! Grey
*color8:	#808080
! Red
*color9:	#ff0000
! Lime
*color10:	#00ff00
! Yellow
*color11:	#ffff00
! Blue
*color12:	#0000ff
! Pink (fuchsia)
*color13:	#ff00ff
! Turquoise
*color14:	#00ffff
! White
*color15:	#ffffff

! === Basic ===
!*background: 	#00000000
!*foreground: 	#ccffffff
!*alert:		#bd2c40

!*color0:    #222222
!*color1:    #8b3e2f
!*color2:    #526f33
!*color3:    #665847
!*color4:    #4a708b
!*color5:    #7a378b
!*color6:    #528b8b
!*color7:    #999999
!*color8:    #4c4c4c
!*color9:    #d75f00
!*color10:   #cee318
!*color11:   #eee685
!*color12:   #9ac0cd
!*color13:   #9f79ee
!*color14:   #79cdcd
!*color15:   #e8e9ca
!====

!! Fonts
*font: pango:monospace:size=8
!!*font: xft:monospace:size=10



URxvt.intensityStyles:	false
URxvt.background:       [70]#000000
URxvt.depth:		32
URxvt.font: 		xft:monospace:size=11
URxvt.scrollBar:	false
URxvt.cursorColor:	white

!! Extensions
URxvt.perl-ext-common:	default,matcher,resize-font,url-select,keyboard-select
URxvt.colorUL:		#4682B4
!! url-select
URxvt.keysym.M-u:	perl:url-select:select_next
URxvt.url-select.launcher: linkhandler
URxvt.url-select.underline: true
!! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate
!! resize-font
URxvt.resize-font.smaller:	C-Down
URxvt.resize-font.bigger:	C-Up
!! Matcher
URxvt.url-launcher:	linkhandler
URxvt.matcher.button:	1

rofi.color-enabled:	true
rofi.color-window:	#000, #000, #000
rofi.color-normal:	#111, #819396, #222, #008ed4, #ffffff
rofi.color-active:	#002b37, #008ed4, #003643, #008ed4, #66c6ff
rofi.color-urgent:	#002b37, #da4281, #003643, #008ed4, #890661

rofi.fake-transparency:	true
rofi.lines:		3
rofi.bw:		0
rofi.opacity:		"10"
rofi.hide-scrollbar:	true
rofi.width:		30
