- name: Install docker
  become: true
  community.general.pacman:
    update_cache: false
    name:
      - docker
      - docker-compose
      - docker-buildx
      - fuse-overlayfs
    state: present
  register: pacman_output
  changed_when:
    - pacman_output.packages is defined
    - pacman_output.packages | length > 0

- name: "Make sure user {{ ansible_facts.env.USER }} is a member of docker group"
  become: true
  ansible.builtin.user:
    name: "{{ ansible_facts.user_id }}"
    append: true
    groups:
      - docker

- name: Start/enable docker service
  become: true
  ansible.builtin.systemd_service:
    name: docker.socket
    scope: system
    enabled: true
    state: started